
@{
    ViewBag.Title = "Index";
}

<h2> Guest Index</h2>


<table class="table">
    <tr>
        <th>
            Guest ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Attendance Date
        </th>
        <th>
            Email
        </th>
        <th>
            Guest
        </th>

        @*<th>
            Edit
        </th>
        <th>
            Delete
        </th>*@
    </tr>

    @foreach (var guest in ViewBag.GuestList)
    {
        <tr>
            <td>@guest.GuestID</td>
            <td>@guest.FirstName</td>
            <td>@guest.LastName</td>
            <td>@guest.AttendanceDate</td>
            <td>@guest.EmailAddress</td>
            <td>@guest.PlusOne</td>
            @foreach (var character in ViewBag.Characterlist)
            {
                if (character.EmailAddress == guest.EmailAddress)
                {
                    var Name = character.Name.ToString();
                    var newName = Name.Replace("%20", " ");

                    <td><a href="~/database/GetCharacterData?CharacterName=@character.Name" class="btn-default ">@newName Click for more info</a></td>
                 }
            }
            @*<td><a href="~/database/DeleteGuest?GuestID=@guest.GuestID" class="btn-default ">Delete this Guest</a></td>*@

        </tr>
    }

</table>

<a href="~/Identity/Registration" class="btn-default ">Click here to add a new Guest</a>


