@using Assesment8.Models
@model Assesment8.Models.RegistrationModel
<h2>Register</h2>

@using (Html.BeginForm("Registration", "Identity", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.LabelFor(x => x.UserName, "Email address") @Html.TextBoxFor(x => x.UserName)
    <br />
    @Html.LabelFor(x => x.Password) @Html.PasswordFor(x=>x.Password)
    <br />
    @Html.LabelFor(x => x.ConfirmPassword) @Html.PasswordFor(x => x.ConfirmPassword)
    <br />


    @Html.LabelFor(x => x.FirstName) @Html.TextBoxFor(x => x.FirstName)
    <br />
    @Html.LabelFor(x => x.LastName) @Html.TextBoxFor(x => x.LastName)
    <br />

    @Html.LabelFor(x => x.AttendanceDate, "Date to attend") @Html.EditorFor(x => x.AttendanceDate, "dd/MM/yyyy")
    <br />
    @Html.LabelFor(x => x.PlusOne) @Html.TextBoxFor(x => x.PlusOne, "None")
    <br />
   
    <e>Favorite Character</e>
    @Html.DropDownListFor(x => x.FavoriteCharacter, new SelectList(
        new List<Object>{ 
            new { value = "Eddard%20Stark" , text = "Eddard Stark"  },
            new { value = "Arya%20Stark" , text = "Arya Stark"  },
            new { value = "Tyrion%20Lannister" , text = "Tyrion Lannister"  },
            new { value = "Jon%20Snow" , text = "Jon Snow"  },
            new { value = "Joffrey%20Baratheon" , text = "Joffrey Bathatheon"  },

        },
        "value",
        "text"))

    <input class="btn" type="submit" value="Register" />
}